@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
.contact_info{
  padding-top: 23px;
  padding-left: 70px;
  text-align: left;
}

.numbers{
  color: #ff3333;
}

.nameLabel{
  padding-left: 40px;
}

table{
  padding-top: 40px;
  color:white;
  padding-left: 150px;
}

.responsiveImg{
  max-width: 80%;
  height: auto;
}

video {
    left: 50%;
    margin: 0 auto;
    position: absolute;
    transform: translate(-50%);
    max-width: 80%;
    height: auto;
}

td{
  /* padding-right: 20px; */
}

h1{
  color: white;
  font-family: 'Montserrat' , sans-serif;
  text-align: center;
    margin-top: 5px;
    margin-bottom: 0px;
}

h2{
  color: white;
  font-family: 'Montserrat' , sans-serif;
  text-align: center;
}

h3{
  color: white;
  font-family: 'Montserrat' , sans-serif;
  text-align: center;
  /*text-align: center;*/
}

ul {
  list-style-type: none;
  text-align: center;
  padding-right: 45px;
  margin-top: 8px;
}

li {
  display: inline;

  color: white;
  font-family: 'Montserrat' , sans-serif;
  font-size: 20px;
}

li a{
    color: white;
    text-decoration: none;
    padding: 8px;
  }
}

li a:visited{
  color: white;
  text-decoration: none;

  outline: 0;
  border: none;
  -moz-outline-style: none;
}

li a:focus{
  outline: 0;
  border: none;
  -moz-outline-style: none;
}

li a:active{
  outline: 0;
  border: none;
  -moz-outline-style: none;
}

h4{
  color: #6272a4;
  margin-left: 15px;
}

a {
  text-decoration: none;
}

a:link {
  color: #ff3333;
}

a:visited {
  color: #ff3333;
}

#descText{
  color: white;
  font-family: 'Montserrat' , sans-serif;
  width:50%;
  margin: auto;
  padding-top: 20px;
  text-align: center;
}

#descp{
  color: white;
  font-family: 'Montserrat' , sans-serif;
  width:50%;
  margin: auto;
  padding-top: 20px;
  text-align: left;
  font-size: 16px;
}
