@import url('https://fonts.googleapis.com/css?family=Montserrat');

.contact_info{
  padding-top: 30px;
  padding-right: 5px;
}

.numbers{
  color: #ff3333;
}

/* th{
  padding-bottom: 10px;
  padding-left: 50px;
} */

h1{
  color: white;
  font-family: 'Montserrat' , sans-serif;
  text-align: center;
    margin-top: 5px;
    margin-bottom: 0px;
}

h2{
  color: white;
  font-family: 'Montserrat' , sans-serif;
  text-align: center;
}

h3{
  color: white;
  font-family: 'Montserrat' , sans-serif;
  text-align: center;
  /*text-align: center;*/
}

ul {
  list-style-type: none;
  text-align: center;
  padding-right: 50px;
  margin-top: 8px;
}

li {
  display: inline;

  color: white;
  font-family: 'Montserrat' , sans-serif;
  font-size: 20px;
}

li a{
    color: white;
    text-decoration: none;
    padding: 8px;
  }
}

li a:visited{
  color: white;
  text-decoration: none;

  outline: 0;
  border: none;
  -moz-outline-style: none;
}

li a:focus{
  outline: 0;
  border: none;
  -moz-outline-style: none;
}

li a:active{
  outline: 0;
  border: none;
  -moz-outline-style: none;
}

h4{
  color: #6272a4;
  margin-left: 15px;
}

a {
  text-decoration: none;
}

a:link {
  color: #ff3333;
}

a:visited {
  color: #ff3333;
}

table{
  padding-top: 40px;
  color:white;
  padding-left: 100px;
}

td{
  padding-right: 5px;
}

#descText{
  color: white;
  font-family: 'Montserrat' , sans-serif;
  text-align: center;
}
